@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;800&display=swap');

:root {
  --gradient: linear-gradient(200deg,  rgb(161, 255, 206), rgb(248, 255, 174),rgb(67, 198, 172));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.grad-bg {
  background: #ddd;
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 18s infinite;
  height: 100vh;
}

@keyframes bg-animation {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}

body {
  font-family: 'Epilogue', sans-serif;
}

a {
  text-decoration: none;
  color: #828282;
  cursor: pointer;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.login-container {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  padding: 80px 20px;
  text-align: center;
  border: 2px solid grey;
  border-radius: 4px;
}

.dashboard-container {
  display: flex;
}

.page {
  position: fixed;
  left: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-bottom: 2px solid grey;
  margin-bottom: 60px;        
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
}

.header ul li {
  margin-left: 60px;
}

.header ul li a {
  display: flex;
  align-items: center;
  color: rgb(100, 100, 100);
  font-weight: 600;
}

.header ul li a:hover {
  color: black;
  font-weight: 600;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 500;
  margin: -10px 0 20px 0;
  padding: 0 20px;
  color: rgb(100, 100, 100);
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 40px;
  position: relative;
  border-radius: 8px;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.timestamp{
  margin-bottom: 8px;
  padding-bottom: 8px;
  color: #555;
  border-bottom: 1px solid rgb(100, 100, 100);
}

.goal-text {
  margin-top: 16px;
}

.form {
  width: 70%;
  margin: 0 auto;
}

.content {
  width: 100%;
  margin: 60px auto 0 auto;
  padding: 0 30px;
  height: 260px;
  overflow-y: scroll;
}

.form-group {
  margin-bottom: 10px;
}

input {
  font-size: 16px;
  padding: 6px 2px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: rgb(100, 100, 100);
}

.logo:hover {
  color: #000;
}


.btn {
  padding: 10px 20px;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 5px;
  background: none;
  color: rgb(100, 100, 100);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
  color: black;
  border: 2px solid black;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
